.main{
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  height: 100vh;
  color: white;

}

.sidebar{
  grid-column: 1/span 1;
  background-color: #007352;
  border-radius: 0 20px 20px 0;
}

.dashboard{
  grid-column: 2/span 3;
  width: 90%;
  margin: 30px auto;
}